.listPage-container {
    display: flex;
    flex-direction: column;
  }
  
  .listPage-content {
    flex: 1;
    padding: 20px;
    flex-direction: column;
  }
  
  .search-paging-container {
    width: 100%;
    padding-top: 2.5em;
  }

  .movie-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1; /* use flex-grow to take up remaining vertical space */
    margin-top: 20px; /* add a margin to create some space between the search bar and movie list */
  }
  
  
  