/* components/Card.css */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    height: 557px;
    max-width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 2px solid black;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card img {
    height: auto;
    object-fit: cover;
    border: black;
  }
  
  .card-details {
    display: flex;
    flex-direction: column;
  }

  .card-font {
    font-family: 'Poppins';
  }

  .card-title {
    height: '100%';
    flex: 1;
    flex-wrap: 'wrap';
    background-color: 'blue';
  }
  
  @media (max-width: 600px) {
    .card {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  