.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: #fffcfc;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    padding-bottom: 20;
  }
  
  .header-container.hide {
    transform: translateY(-100%);
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Poppins";
  }
  
  .header-btn-container {
    padding-right: 6%;
  }
  
  .header-btn-container button {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    padding: .4rem .8rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 4px;
  }
  
  .header-btn-container button:hover {
    transform: translate(-5px, -5px);
    background-color: rgb(85, 27, 133);
    border-color: black;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 1);
    color: white;
  }

  .header-btn-container button:active {
    transform: translate(-0px, -0px);
    background-color: rgb(85, 27, 133);
    border-color: black;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    color: white;
  }

  
  