.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
  
  @media (max-width: 600px) {
    .movie-list {
      flex-direction: column;
      gap: 8px;
    }
  }